/* Universal formatting */

/* Header section formatting */
#header {
    color: red;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Home section formatting */
#home {
    color: blue;
}

/* About section formatting */
#about {
    color: green;
}

/* Project section formatting */
#projects {
    color: purple;
}

/* Contact section formatting */
#contact {
    color: black;
}